.nombres {
    font-family: Playfair Display, Arial;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
}

#scrollDownArrow {
    cursor: pointer;
    margin-top: 11rem;
    color: rgba(0,0,0,.54);
    fill: rgba(225,223,219,1);
    height: 48px;
    width: 48px;
}

#titulo {
    font-family: 'Times New Roman', Times, serif;
    color: #ddbf7a;
    font-size: 4rem;
}

#titulo-largo {
    font-family: 'Times New Roman', Times, serif;
    color: #ddbf7a;
    font-size: 4rem;
}
@media (max-width: 414px) {
    #titulo-largo {
        font-size: 3.5rem;
    }
}

#titulo-maslargo {
    font-family: 'Times New Roman', Times, serif;
    color: #ddbf7a;
    font-size: 4rem;
}
@media (max-width: 450px) {
    #titulo-maslargo {
        font-size: 3.3rem;
    }
}

#nombres {
    font-family: Playfair Display, Arial;
    font-size: 1.5rem;
}

#subtitulo {
    font-family: Playfair Display, Arial;
    font-size: 2rem;
    font-weight: 600;
    color: #666666;
    margin-top: 2rem;
}

#subtitulo-padres {
    font-family: Playfair Display, Arial;
    font-size: 2rem;
    font-weight: 600;
    color: #ddbf7a;
    margin-top: 2rem;
}

#nombres-arlet {
    font-family: Playfair Display, Arial;
    font-size: 2rem;
    font-weight: 600;
    color: #de7ece;
    margin-top: 2rem;
}

#nombres-ivanna {
    font-family: Playfair Display, Arial;
    font-size: 2rem;
    font-weight: 600;
    color: #63c7ef;
    margin-top: 2rem;
}

#countdown div {
    font-size: 2rem;
    margin: 0 10px;
}

@media (max-width: 1200px) {
    #countdown div {
        font-size: 2rem;
    }
}
@media (max-width: 768px) {
    #countdown div {
        font-size: 1.5rem;
    }
}
@media (max-width: 410px) {
    #countdown div {
        font-size: 1rem;
    }
    #scrollDownArrow {
        margin-top: 4.5rem;
    }
}
@media (max-width: 376px) {
    #scrollDownArrow {
        margin-top: 4.5rem;
    }
}